<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>%TITLE%</title>

    <meta name="description" content="%META_DESCRIPTION%">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Todo App">
    <meta name="application-name" content="Todo App">
    <meta name="theme-color" content="#ffffff">

    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#231f20">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">

    <% htmlWebpackPlugin.files.css.forEach(function (filePath) { %>
      <style>
        <%= compilation.assets[filePath.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
      </style>
    <% }) %>

  <body class="no-touch">
    <main id="root">
      <h1>ToDo App</h1>
      <form>
        <input type="text" value="" placeholder="Add a task" />
        <input type="submit" value="Add" />
      </form>
      <h2>Tasks</h2>
      <ul class="tasks"></ul>
      <h2>Completed</h2>
      <ul class="completed-tasks"></ul>
    </main>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Promise,Object.keys"></script>
    <% htmlWebpackPlugin.files.js.forEach(function (filePath) { %>
      <script src="<%= filePath %>" defer></script>
    <% }) %>
